AZURE_TENANT_ID="<azure tenant id>"
AZURE_CLIENT_ID="<azure client id>"
AZURE_CLIENT_SECRET="<azure client_secret>"
LLM_PROVIDER="claude"
LLM_MODEL="claude-haiku-4-5-20251001"
ANTHROPIC_API_KEY="<claude api key>"
AZURE_SUBSCRIPTION_ID="<azure subscription id>"